<!DOCTYPE html>

{%extends 'customer/base.html'%}

{%block body_block%}

<h3 style="font-style: italic;"> Here Is Your Mobile List .....</h3>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">

        {%if messages%}
            {%for message in messages%}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <h5 class="text text-success rounded ps-3" style="border-style: dotted dashed solid double;">{{message}}</h5>
                {% endif %}
            {%endfor%}
        {%endif%}

    </div>
    <div class="col-4"></div>
</div>

<div class="row">
    {%for mobile in mobiles%}
    <div class="col-3">
        <div class="card" style="width: 100%;">
            <img src="{{mobile.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{mobile.mobile_name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{%url 'addtocart'  mobile.id %}" class="btn btn-primary">AddToCart</a>
            </div>
        </div>
    </div>


    {%endfor%}
</div>

{%endblock%}